<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <%- include partials/head.ejs %>
</head>
<body>

<section id="imgSlider">

    <div class="vtp-logoarea logo-wrapper">
        <img src="../images/bella_logo.png" class="img-fluid">
        <!--<a class="navbar-brand" href="#"> </a>-->
    </div>
    <!--==========================
       Header
     ============================-->
    <header id="header">
        <div class="container-fluid">
            <!-- <div id="logo" class="pull-left">
                 <h1><a href="#intro" class="scrollto">BizPage</a></h1>
                 &lt;!&ndash; Uncomment below if you prefer to use an image logo &ndash;&gt;
                 &lt;!&ndash; <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>&ndash;&gt;
             </div>-->
            <div class="navbar-wrapper">

            </div>
            <nav id="nav-menu-container">
                <ul id="top-menu" class="nav-menu">
                    <li id="contact-number"
                        class="nav-item calling-section sell_do_virtual_numbers menu-item menu-item-type-custom menu-item-object-custom menu-item-1830">
                        <a href="#"><img class="img-fluid" src="images/call.png">
                            <span style="color:black;"> +91 20 6726 4730</span></a>
                    </li>
                    <li class="menu-active"><a href="#intro">WHY US</a></li>
                    <li><a href="#about">PROJECT</a></li>
                    <li><a href="#services">OUR PRESENCE</a></li>
                    <li><a href="#portfolio">CONTACT US</a></li>

                    <!--<li class="menu-has-children"><a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>-->

                    <li id="searchbar-hide"
                        class="searchbar hidden-sm hidden-md menu-item menu-item-type-search menu-item-object- menu-item-1958">
                        <!--<form class="searchbox searchbox-icon" role="search" method="get">
                            <input type="search" class="searchbox-input" placeholder="" value="" name="s"
                                   title="">
                            <input type="submit" class="searchbox-submit" value="">
                            <i class="expand-searchbox fa fa-search"></i>
                        </form>-->
                        <form action="" class="search-form">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" style=" color: white; padding: 4px 12px;"
                                       name="search" id="search-area-expand" placeholder=" ">
                                <span class="fa fa-search expand-searchbox form-control-feedback"></span>
                            </div>
                        </form>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    <!-- <div class="navbar-wrapper">

         <div class="navbar-header-first">
             <nav class="navbar nav-transparent    ">
                 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                         data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                     <i class="fa fa-bars" > </i>
                 </button>

                 &lt;!&ndash; Links &ndash;&gt;
                 <div class="collapse navbar-collapse navbar-fixed-right " id="navbarSupportedContent">
                     <ul id="top-menu" class="navbar-nav">
                         <li id="menu-item-1830 "
                             class="nav-item calling-section sell_do_virtual_numbers menu-item menu-item-type-custom menu-item-object-custom menu-item-1830">
                             <img src="images/call.png"> +91 20 6726 4730
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="#">WHY US</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="#">PROJECT</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="#">OUR PRESENCE</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="#">CONTACT US</a>
                         </li>
                         <li id="menu-item-1958"
                             class="searchbar hidden-sm hidden-md menu-item menu-item-type-search menu-item-object- menu-item-1958">
                             <form class="searchbox" role="search" method="get" action="http://www.vtprealty.in/">


                                 <input type="search" class="searchbox-input" placeholder="" value="" name="s"
                                        title="">

                                 <input type="submit" class="searchbox-submit" value="">
                                 <i class="searchbox-icon  fa fa-search"></i>
                             </form>
                         </li>
                     </ul>
                 </div>
             </nav>
         </div>

     </div>-->
    <div class=" ">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active one  imageProperty">
                </div>
                <div class="carousel-item two imageProperty">
                </div>

            </div>

        </div>
        <div id="sliderBottom">

        </div>
    </div>
</section>


<div class="enquiry-section rightPosition">

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active show">
            <a class="btn-enquiry" id="enquiryformbyselldo" href="#"
               onclick="EnquiryAlert()"><span class="icon"><img style="width: 20px;" src="images/enquiry.png"></span>
                ENQUIRE NOW</a>
            <div id="contact-form-bg">
                <div class="col-sm-12 col-lg-12 col-md-12  sell_do_form_container selldof">
                    <div class="title">Contact form</div>
                    <div role="form" class="wpcf7" id="wpcf7-f2346-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response "></div>
                        <form method="post" class="wpcf7-form" novalidate="novalidate">

                            <div class="selldof_row">
                                <div class="selldof_field-container selldof_col-xs-12 selldof_col-sm-12 selldof_col-md-12 selldof_col-lg-12">
                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap txt_email"><input type="email"
                                                                                               name="txt_email" value=""
                                                                                               size="40"
                                                                                               class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                                                               id="txt_email"
                                                                                               aria-required="true"
                                                                                               aria-invalid="false"
                                                                                               placeholder="Email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="selldof_row">
                                <div class="selldof_field-container selldof_col-xs-12 selldof_col-sm-12 selldof_col-md-12 selldof_col-lg-12">
                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap txt_phone"><input type="tel"
                                                                                               name="txt_phone" value=""
                                                                                               size="40"
                                                                                               class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control"
                                                                                               id="txt_phone"
                                                                                               aria-required="true"
                                                                                               aria-invalid="false"
                                                                                               placeholder="Phone"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="selldof_row">
                                <div class="selldof_field-container selldof_col-xs-12 selldof_col-sm-12 selldof_col-md-12 selldof_col-lg-12">
                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap project_type"><select name="project_type"
                                                                                                   class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control project_type"
                                                                                                   id="project_type"
                                                                                                   aria-required="true"
                                                                                                   aria-invalid="false"><option
                                                        value="Residential">Residential</option><option
                                                        value="Commercial">Commercial</option></select></span>
                                    </div>
                                </div>
                            </div>
                            <div class="selldof_row r-project" id="r-project">
                                <div class="selldof_field-container selldof_col-xs-12 selldof_col-sm-12 selldof_col-md-12 selldof_col-lg-12">
                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap Rproject_name"><select name="Rproject_name"
                                                                                                    class="wpcf7-form-control wpcf7-select form-control Rproject_name"
                                                                                                    id="Rproject_name"
                                                                                                    aria-invalid="false"><option
                                                        value="Projects">Projects</option><option
                                                        value="VTP Urban Nest – Nr. Undri Chowk">VTP Urban Nest – Nr. Undri Chowk</option><option
                                                        value="VTP Urban Life – Talegaon – MIDC Rd.">VTP Urban Life – Talegaon – MIDC Rd.</option><option
                                                        value="VTP Solitaire – Baner Pashan Link Road">VTP Solitaire – Baner Pashan Link Road</option><option
                                                        value="VTP Purvanchal – Wagholi – Kesnand Rd.">VTP Purvanchal – Wagholi – Kesnand Rd.</option><option
                                                        value="Urban Balance – Magarpatta Rd.">Urban Balance – Magarpatta Rd.</option><option
                                                        value="VTP Urban Rise – Pisoli, Pune">VTP Urban Rise – Pisoli, Pune</option><option
                                                        value="Bhagyasthan, Talegaon-Chakan Rd.">Bhagyasthan, Talegaon-Chakan Rd.</option><option
                                                        value="VTP Celesta – NIBM Annexe, Pune">VTP Celesta – NIBM Annexe, Pune</option></select></span>
                                    </div>
                                </div>
                            </div>
                            <div class="selldof_row c-project" id="c-project" style="display: none;">
                                <div class="selldof_field-container selldof_col-xs-12 selldof_col-sm-12 selldof_col-md-12 selldof_col-lg-12">
                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap Cproject_name"><select name="Cproject_name"
                                                                                                    class="wpcf7-form-control wpcf7-select form-control Cproject_name"
                                                                                                    id="Cproject_name"
                                                                                                    aria-invalid="false"><option
                                                        value="Projects">Projects</option><option
                                                        value="Trade Park, Undri Chowk">Trade Park, Undri Chowk</option><option
                                                        value="The Market Place, Undri Chowk">The Market Place, Undri Chowk</option></select></span>
                                    </div>
                                </div>
                            </div>
                            <div class="selldof_row">
                                <div class="selldof_field-container selldof_col-xs-12 selldof_col-sm-12 selldof_col-md-12 selldof_col-lg-12">
                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap txt_comments"><textarea name="txt_comments"
                                                                                                     cols="40" rows="3"
                                                                                                     class="wpcf7-form-control wpcf7-textarea form-control"
                                                                                                     id="txt_comments"
                                                                                                     aria-invalid="false"
                                                                                                     placeholder="Comments"></textarea></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group float-left">
                                        <input type="submit" value="Submit" class="btn btn-default btn-sm"
                                               id="btn_submit_analyt"><span class="ajax-loader"></span>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="wpcf7-pum"
                                   value="{&quot;closepopup&quot;:false,&quot;closedelay&quot;:0,&quot;openpopup&quot;:false,&quot;openpopup_id&quot;:0}">
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <a class="btn-enquiry" id="enquiryformbyselldo" href="#"
               onclick="EnquiryAlert()"><span class="icon"><img style="width: 20px;" src="images/enquiry.png"></span>
                ENQUIRE NOW</a>

            <div id="call-back-bg">
                <h3>Call Me Back</h3>
                <p>Just give us your contact number and you will receive a call from our representative:</p>

                <div class="sell_do_ctc">
                    <form class="sell_do_clicktocall_container selldof">
                        <div class="input-group">
                            <input type="text" placeholder="Phone number" class="form-control" id="basic-url"
                                   aria-describedby="basic-addon3">
                        </div>
                        <div class="sell_do_ctc_btn_c">
                            <input type="submit"
                                   style="padding: 4px 16px 4px 16px;margin-top: 15px;background-color:white;border-radius: 30px !important;"
                                   class="btn btn-default btn-sm" value="Call me">
                        </div>
                        <div class="sell_do_clr"></div>
                    </form>

                </div>


            </div>
        </div>


    </div>
    <div class="footer-action nav nav-tabs">
        <a href="#home" data-toggle="tab" class="contact-form active"><i class="icon-inquire"></i>Contact Form</a>
        <a href="#menu1" data-toggle="tab" class="call-back "><i class="icon-phone"></i>Call Me
            Back</a>
    </div>
</div>
<div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<section id="projectDescription">
    <div class="row">
        <div class="offset-3 col-lg-7 col-sm-5 col-md-5 parallelogram   text-left">
            <div style="transform: skew(-20deg);padding: 10px 0px;">
                <h2 class=" text-uppercase font-weight-bold">bella ventures&nbsp;<sub class="text-uppercase "
                                                                                      style="bottom: -0.1em;">(karve
                        nagar, pune)</sub></h2>
            </div>
        </div>
    </div>
    <br>
    <div class="row " style="color: white;">

        <div class="col-lg-2"></div>
        <div class="col-lg-1 text-right">
            <span class="fa fa-home fa-4x"></span>

        </div>
        <div class="col-lg-3 text-left">
            <h4><b>HOME TYPE</b></h4>
            <h3><b>2BHK</b></h3>
        </div>
        <div class="col-lg-4"></div>

    </div>


</section>

<section id="projectStatus">
    <div class="container">
        <div class="col-lg-10 offset-1">
            <div class="progress progressPadding" style="border-radius: 15px;height: 1.5rem;">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                     style="width:54%; border-radius: 15px;   ">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <span class="float-lg-left float-sm-left float-md-left">Prelaunch</span>
            <span class="offset-2">Softlaunch</span>
            <span class="offset-2">Ongoing</span>
            <span class="offset-2">Nearing</span>
            <span class="float-lg-right float-sm-right float-md-right">Ready</span>
        </div>
        <br>
        <p class="text-left">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </p>
        <p class="text-left">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </p>
    </div>
</section>

<section id="projectFeature">
    <div class="row featurePadding">
        <div class="col-lg-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active text-uppercase" data-toggle="tab" href="#keyFeatures">
                        <span><img src="images/features.png" style="width: 60px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;key
                        features</a>
                </li>
                <li class="nav-item " style="background-color:#48b4f9;">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#amenity">
                        <span><img src="images/amenity.png" style="width: 60px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Amenity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#specification">
                        <span><img src="images/specification.png" style="width: 60px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Specifications</a>
                </li>

            </ul>
            <!--   <ul class="list-group text-uppercase">
                   <li class="list-group-item "><span><img src="images/features.png" style="width: 60px;"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                       key
                       features
                   </li>

                   <li class="list-group-item amenity"><span><img src="images/amenity.png" style="width: 60px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Amenity
                   </li>
                   <li class="list-group-item"><span><img src="images/specification.png" style="width: 60px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Specifications
                   </li>
               </ul>-->
        </div>
        <div class=" col-lg-7">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="keyFeatures" role="tabpanel">


                    <div id="demo1" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-5 offset-1 text-center">
                                        <img src="../images/headerbg2.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Entrance lobby</p>
                                    </div>
                                    <div class="col-md-5  text-center">
                                        <img src="../images/headerbg1.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Optimised unit layout</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item  ">
                                <div class="row">
                                    <div class="col-md-5 offset-1 text-center">
                                        <img src="../images/headerbg2.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Entrance lobby</p>
                                    </div>
                                    <div class="col-md-5  text-center">
                                        <img src="../images/headerbg1.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Optimised unit layout</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo1" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>

                </div>
                <div class="tab-pane fade" id="amenity" role="tabpanel">
                    <div id="demo2" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-5 offset-1 text-center">
                                        <img src="../images/headerbg2.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Entrance lobby</p>
                                    </div>
                                    <div class="col-md-5  text-center">
                                        <img src="../images/headerbg1.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Optimised unit layout</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item  ">
                                <div class="row">
                                    <div class="col-md-5 offset-1 text-center">
                                        <img src="../images/headerbg2.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Entrance lobby</p>
                                    </div>
                                    <div class="col-md-5  text-center">
                                        <img src="../images/headerbg1.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Optimised unit layout</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo2" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>
                <div class="tab-pane fade" id="specification" role="tabpanel">
                    <div id="specification-carousel" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-5 offset-1 text-center">
                                        <img src="../images/headerbg2.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Entrance lobby</p>
                                    </div>
                                    <div class="col-md-5  text-center">
                                        <img src="../images/headerbg1.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Optimised unit layout</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item  ">
                                <div class="row">
                                    <div class="col-md-5 offset-1 text-center">
                                        <img src="../images/headerbg2.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Entrance lobby</p>
                                    </div>
                                    <div class="col-md-5  text-center">
                                        <img src="../images/headerbg1.png" alt="Los Angeles"
                                             style="max-width:50%;height: 300px;">
                                        <br>
                                        <p class="vag-rounded_boldFont">Optimised unit layout</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo3" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>

            </div>
            <!--<div id="secondDemo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-5 offset-1 text-center">
                                <img src="../images/headerbg2.png" alt="Los Angeles"
                                     style="max-width:50%;height: 300px;">
                                <br>
                                <p class="vag-rounded_boldFont">Entrance lobby</p>
                            </div>
                            <div class="col-md-5  text-center">
                                <img src="../images/headerbg1.png" alt="Los Angeles"
                                     style="max-width:50%;height: 300px;">
                                <br>
                                <p class="vag-rounded_boldFont">Optimised unit layout</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-5 offset-1 text-center">
                                <img src="../images/headerbg2.png" alt="Los Angeles"
                                     style="max-width:50%;height: 300px;">
                                <br>
                                <p class="vag-rounded_boldFont">Entrance lobby</p>
                            </div>
                            <div class="col-md-5 text-center">
                                <img src="../images/headerbg1.png" alt="Los Angeles"
                                     style="max-width:50%;height: 300px;">
                                <br>
                                <p class="vag-rounded_boldFont">Optimised unit layout</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-5 offset-1 text-center">
                                <img src="../images/headerbg2.png" alt="Los Angeles"
                                     style="max-width:50%;height: 300px;">
                                <br>
                                <p class="vag-rounded_boldFont">Entrance lobby</p>
                            </div>
                            <div class="col-md-5  text-center">
                                <img src="../images/headerbg1.png" alt="Los Angeles"
                                     style="max-width:50%;height: 300px;">
                                <br>
                                <p class="vag-rounded_boldFont">Optimised unit layout</p>
                            </div>
                        </div>
                    </div>
                </div>

                &lt;!&ndash; Left and right controls &ndash;&gt;
                <a class="carousel-control-prev" href="#secondDemo" data-slide="prev">
                    <i class="fa fa-chevron-left black" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#secondDemo" data-slide="next">
                    <i class="fa fa-chevron-right black" aria-hidden="true"></i>
                </a>
            </div>-->


        </div>


    </div>
    <div class="row">
        <div class="offset-lg-6 col-lg-4">
            <button type="button" class="btn btn-light">DOWNLOAD BROCHURE</button>
        </div>
    </div>
</section>
</body>
</html>
