/* Make the image fully responsive */

@font-face {
    font-family: vag-rounded_thin;
    src: url("../fonts/vag_rounded_thin-webfont.ttf");
}

@font-face {
    font-family: vag-rounded_bold;
    src: url("../fonts/vag_rounded_bold-webfont.ttf");
}

body {
    font-family: vag-rounded_thin;
}

.vag-rounded_boldFont {
    font-size: 20px;
    font-family: vag-rounded_bold;
}

.carousel-inner img {
    display: block;
    height: 550px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

#sliderBottom {
    width: 100%;
    height: 32px;
    background: #48b4f9;
}

.carousel-inner .one {
    background-image: url(../images/headerbg1.png);
}

.carousel-inner .two {
    background-image: url(../images/headerbg2.png);
}

.carousel-inner .imageProperty {
    width: 100%;
    background-position: center center;
    margin-top: 0px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    background-size: 100%;
    height: 500px;

}

.carousel-indicators {
    margin-bottom: -29px;
}

.vtp-logoarea {
    padding: 15px 30px 30px 30px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    padding: 10px;
    background: url(../images/bella_logo.png) left top no-repeat;
    height: 125px;
    width: 139px;
    margin: 0px;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.bg-light {
    background-color: transparent;
}

#top-menu {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    padding: 0 0px;

}

.navbar-header-first {
    position: absolute;
    top: -3px;
    right: 35px;
    opacity: 1;
}

li.calling-section {
    background: #30bfcd;

    margin: 7px 15px 0 0;
    width: 192px;
    font-weight: bold;
    text-align: center;
    color: black;

    text-shadow: none !important;

}

#top-menu li.calling-section {

    margin: 0;
}

.searchbox-icon, .searchbox-submit {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    right: 0;
    padding: 10px;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.2);

}

.nav-item a {
    color: white;

}

#top-menu .searchbox .searchbox-input {
    background: rgba(0, 0, 0, 0.5);
}

.searchbox-open .searchbox-input {
    width: 100%;
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.5);
    color: #cccccc !important;
    width: 0;
    height: 35px;
    margin: 0;
    padding: 0 18px 0 17px;
    font-size: 20px;
    float: right;
    overflow: hidden;
}

.searchbox {
    position: relative;
    min-width: 40px;

    float: right;
    overflow: hidden;
    background: none;

}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 44px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

/*.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 25px;
}*/

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: 6px;
    right: 4px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: white;
    left: initial;
    font-size: 20px;
}

.fix-width {
    right: -350px;
}

.rightFixed {
    right: 0;
}

.enquiry-section {
    background: #ffc364;
    min-height: 430px;
    padding: 0 0 60px 0;
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 350px;
    z-index: 999;
    color: black;
    -webkit-border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    -ms-border-radius: 0 0 0 20px;
    border-radius: 0 0 0 20px;
}

.enquiry-section .btn-enquiry {
    background: #ffc364;
    width: 175px;
    height: 50px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    left: -110px;
    top: 50%;
    display: block;
    color: black;
    padding: 12px 14px;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    font-family: 'Conduit_ITC_Medium';
}

.enquiry-section #contact-form-bg {
    margin: 0;
    padding: 10px 0px;
}

.enquiry-section .sell_do_form_container {
    font-family: inherit !important;
    font-size: 15px !important;
}

.enquiry-section .sell_do_form_container .title {
    color: black;
}

.enquiry-section .selldof .title {
    margin: 0 0 10px 10px !important;
    padding: 0 !important;
    font-size: 22px !important;
    width: 100% !important;
    float: left !important;
    font-family: 'Conduit_ITC_Medium' !important;
    text-align: left !important;
    letter-spacing: 0 !important;
}

.selldof .title {
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 0 15px;
    text-align: left;
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.selldof_col-lg-4, .selldof_col-lg-6, .selldof_col-lg-12, .selldof_col-md-4, .selldof_col-md-6, .selldof_col-md-12, .selldof_col-sm-4, .selldof_col-sm-6, .selldof_col-sm-12, .selldof_col-xs-4, .selldof_col-xs-6, .selldof_col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.enquiry-section .sell_do_form_container .btn {
    text-transform: uppercase !important;
    border-radius: 30px !important;
    margin: 8px 15px -6px !important;
    padding: 0 28px !important;
    width: auto !important;
    height: 38px !important;
    line-height: 27px !important;
    display: block !important;
    float: right !important;
    background: #ffffff;
    color: #ffc364 !important;
    outline: none !important;
    font-size: 15px !important;
}

.enquiry-section .footer-action {
    margin: 0;
    padding: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    -ms-border-radius: 0 0 0 20px;
    border-radius: 0 0 0 20px;
    /* background: #58458b; */
    display: table;
}

.enquiry-section .footer-action .contact-form {
    border-radius: 0px 0px 0px 22px;
}

.enquiry-section .footer-action a {
    margin: 0;
    padding: 2px 30px;
    width: 50%;

    display: table;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: black;
}

.enquiry-section .footer-action a i {
    margin: -3px 15px 0 30px;
    padding: 0;
    font-size: 28px;
    float: left;
}

.enquiry-section #call-back-bg {

    padding: 20px;
}

.sell_do_ctc_btn_c .sell_do_ctc_btn {
    text-transform: uppercase !important;
    margin: 12px 0 15px !important;
    padding: 0 32px !important;
    width: auto !important;
    height: 32px !important;
    line-height: 37px !important;
    display: block !important;

    background: #ffffff;
    color: #ffc364 !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    border-radius: 30px !important;
    font-size: 18px !important;
    font-family: 'Conduit_ITC_Medium' !important;
    outline: none !important;
}

.enquiry-section .footer-action .active {
    background: #e8ac4c;
    overflow: hidden;
}

#projectDescription {
    background-color: #495fc2;
}

.parallelogram {

    transform: skew(20deg);
    background: #ffc364;
}

#projectStatus {

}

.progressPadding {
    margin-top: 31px;
    margin-bottom: 10px;
}

#projectFeature {
    background-color: #ebebeb;
}

#projectFeature {
    padding: 50px 0px 5PX 0PX;
}

.featurePadding ul li {
    color: white;
    font-family: vag-rounded_bold;
    font-size: 30px;
    padding: 1.25rem 1.25rem;
}

.featurePadding ul li:first-child {
    background-color: #495fc2;
    border-color: #495fc2;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;

}

.featurePadding ul .amenity {
    background-color: #48b4f9;
    border-color: #48b4f9;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.featurePadding ul li:last-child {
    background-color: #1c36a7;
    border-color: #1c36a7;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;

}

.list-group-item:focus, .list-group-item:hover {
    z-index: 0;
}

.list-group-item {
    padding: 1.75rem 1.25rem;
}

.black {
    color: black;
}

.carousel-control-next {
    right: -23px;
}

.carousel-control-prev {
    left: -23px;
}

.flex-column .nav-item .nav-link.active {

    position: relative;
    margin-right: -20px;

}

.flex-column .nav-item .nav-link.active :after, .flex-column .nav-item .nav-link.active :before {
    content: "";
    position: absolute;
    width: 30px;
    height: 50%;
    left: 100%;
}

.flex-column .nav-item .nav-link.active :after {
    bottom: 0;
    background: linear-gradient(to right bottom, #495fc2 50%, transparent 50%);
}

.flex-column .nav-item .nav-link.active :before {
    top: 0;
    background: linear-gradient(to right top, #495fc2 50%, transparent 50%);
}